    
<div class="container-fluer page-content">
  <div class="col-lg-12 ">

    <div class="p-1 shadow-sm rounded banner">

      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active bg-primary text-white" id="nav-home-tab" data-toggle="tab" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
          <a class="nav-item nav-link active bg-primary text-white" id="nav-profile-tab" data-toggle="tab" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
          <a class="nav-item nav-link active bg-primary text-white" id="nav-contact-tab" data-toggle="tab" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
        </div>
      </nav>

      <div class="tab-content p-5" id="nav-tabContent">
            
          
      </div>
    

    </div>

  </div>
</div>