<app-menu></app-menu>

<div class="container-fluer page-content">
    <div class="col-lg-12 ">
      
        <div class="p-1 shadow-sm rounded banner">

            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a [routerLink]="['/Inventario/Agregar']" routerLinkActive="router-link-active" class="nav-item nav-link active bg-primary text-white" id="nav-home-tab" data-toggle="tab" role="tab" aria-controls="nav-home" aria-selected="true">Agregar Inventario</a>
                <a [routerLink]="['/Inventario/Modificar']" routerLinkActive="router-link-active" class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" role="tab" aria-controls="nav-profile" aria-selected="false">Modificar Inventario</a>
                </div>
            </nav>
        
            <div class="tab-content p-5" id="nav-tabContent">
                                                               

            <div class="row">
                <div class="col-md-1">
                    <div class="form-group">
                        <button (click)="Alta()" id="Guardar" type="button" class="btn btn-info">
                            <i class="icon-ok"></i> Guardar
                        </button>
                    </div>    
                </div>
                <div class="col-md-1" style="margin-left:10px;">
                    <div class="form-group">
                        <button (click)="Cancelar()" id="Cancelar" type="button" class="btn btn-info">
                            <i class="icon-remove"></i> Cancelar
                        </button>
                    </div>    
                </div>
            </div>


            </div>
            <div>
        </div>    
    </div>
</div>

